@{
    ViewBag.Title = "上傳圖片";
}

<link href="@Url.Content("~/Content/FileUpload.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/FileUpload.js")"></script>

<div class="container file-upload">
    @using (Html.BeginForm("UploadImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row margin-top-login">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="panel panel-primary box-shadow">
                    <div class="panel-heading">
                        <div class="row panel-heading admin-list-heading">
                            <div class="col-12 d-flex justify-content-center align-items-center admin-list-title">@ImageUpdateService.ImageTitle</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <!-- 未上傳圖片的顯示畫面 -->
                        <div class="image-upload-wrap">
                            <input type="file" name="file" id="file" class="form-control file-upload-input" onchange="readURL(this);" accept="image/png,image/jpeg" />
                            <div class="drag-text">
                                <h3>選擇圖片</h3>
                            </div>
                        </div>
                        <!-- 上傳圖片的顯示畫面 -->
                        <div class="file-upload-content">
                            <img class="file-upload-image" src="#" alt="上傳的圖片" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">移除 <span class="image-title">上傳圖片</span></button>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="submit" value="上傳" class="table-btn" />
                                @*if (!string.IsNullOrEmpty(ImageUpdateService.ReturnAreaName))
                                    {
                                        @Html.ActionLink("取消上傳", ImageUpdateService.ReturnActionName, ImageUpdateService.ReturnControllerName, new { area = ImageUpdateService.ReturnAreaName }, new { @class = "site-btn" })
                                    }
                                    else
                                    {*@
                                @Html.ActionLink("取消", ImageUpdateService.ReturnActionName, ImageUpdateService.ReturnControllerName, null, new { @class = "site-btn" })
                                @*}*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>
