@model RecipeForU.Models.ViewModel.RecipeDetailViewModel
<script src="@Url.Content("~/Scripts/TextBoxAdd.js")"></script>

@{
    ViewBag.Title = "修改食譜";
}

@using (Html.BeginForm("EditRecipeDetail", "Recipe", new { id = Model.RECIPE.recipe_id }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row margin-top-login">
            <div class="col-10 offset-1">
                <div class="panel panel-default box-shadow">
                    <div class="row panel-heading admin-list-heading">
                        <div class="col-12 d-flex justify-content-center align-items-center admin-list-title">@ViewBag.Title</div>
                    </div>
                    <div class="panel-body admin-list-body">
                        <div class="row">
                            <div class="col-12">
                                <fieldset>
                                    <legend>食譜資訊</legend>
                                    <div class="row" style="padding-top:15px;">
                                        <div class="col-3 offset-1 cover_image">
                                            <img src="@Url.Content(ImageGetService.GetRecipeImage(Model.RECIPE.recipe_id))" style="width:100%; margin:auto;" alt="食譜圖示" />
                                        </div>

                                        <div class="col-8">
                                            <div class="row">
                                                <div class="col-12 col-md-10">
                                                    @Html.EditorFor(model => model.RECIPE.recipe_name, new { htmlAttributes = new { @class = "form-control", @id = "recipe_name", @placeholder = "請輸入食譜名稱" } })
                                                    @Html.ValidationMessageFor(model => model.RECIPE.recipe_name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-10">
                                                    @Html.TextAreaFor(model => model.RECIPE.recipe_intro, new { @class = "form-control", @id = "recipe_intro", @placeholder = "請輸入食譜介紹，上限為250字", @maxlength = "250" })
                                                    @Html.ValidationMessageFor(model => model.RECIPE.recipe_intro, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        @*
                                            <div class="col-3 offset-1 d-flex justify-content-center align-items-center">
                                                <input type="button" class="upload_image_btn site-btn" onclick="uploadRecipeImage();" value="上傳食譜圖片" />
                                            </div>
                                        *@
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <fieldset id="ElementEditor" class="row">
                                    <legend>食材</legend>
                                    @for (int i = 0; i < Model.eRECIPE.Count; i++)
                                    {
                                        <div id="ElementScope@(i)" class="col-12">
                                            @Html.EditorFor(model => model.eRECIPE[i].element_id, new { htmlAttributes = new { @class = "form-control col-12 col-md-7", @placeholder = "食材" } })
                                            @Html.ValidationMessageFor(model => model.eRECIPE[i].element_id, "", new { @class = "text-danger" })

                                            @Html.EditorFor(model => model.eRECIPE[i].qty, new { htmlAttributes = new { @class = "form-control col-12 col-md-4", @placeholder = "份量" } })
                                            @Html.ValidationMessageFor(model => model.eRECIPE[i].qty, "", new { @class = "text-danger" })
                                        </div>
                                    }
                                </fieldset>
                            </div>
                        </div>
                        @Html.Hidden("ElementCount", Model.eRECIPE.Count - 1)
                        <input type="button" value='&#8853;' id='AddElementButton'>
                        <input type="button" value='&#8854;' id='RemoveElementButton'>

                        <div class="row">
                            <div class="col-12">
                                <fieldset id="StepEditor" class="row">
                                    <legend style="text-align: left;">步驟</legend>
                                    @for (int i = 0; i < Model.sRECIPE.Count; i++)
                                    {
                                        @*<h4 class="col-12 col-md-1">@item.step_id</h4>*@
                                        <div id="StepScope@(i)" class="col-12">
                                            @Html.EditorFor(model => model.sRECIPE[i].step_id, new { htmlAttributes = new { @class = "form-control col-12 col-md-1" } })
                                            @Html.ValidationMessageFor(model => model.sRECIPE[i].step_id, "", new { @class = "text-danger" })

                                            @Html.TextAreaFor(model => model.sRECIPE[i].step_body, new { @class = "form-control col-12 offset-md-1 col-md-10", @maxlength = "250" })
                                            @Html.ValidationMessageFor(model => model.sRECIPE[i].step_body, "", new { @class = "text-danger" })
                                        </div>
                                    }
                                </fieldset>
                            </div>
                        </div>
                        @Html.Hidden("StepCount", Model.sRECIPE.Count - 1)
                        <input type="button" value='&#8853;' id='AddStepButton'>
                        <input type="button" value='&#8854;' id='RemoveStepButton'>

                        <div class="row" style="margin-top:1em;">
                            <div class="col d-flex justify-content-center">
                                <input type="submit" class="site-btn" value="儲存" style="margin:0;margin-right:1em;" />
                                @Html.ActionLink("返回列表", "MyList", "Recipe", null, new { @class = "table-btn" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}